# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
venv/
.env/
.venv/
.venv311/
.venv310/

# VS Code
.vscode/

# Build / Packaging
build/
dist/
*.egg-info/

# Test / coverage
*.coverage
.coverage
.pytest_cache/

# Other
Optuna Studies
tuning.py
watershed.py
